.page-trend {
  padding: 20px;
  font-family: 'DM Sans';

  .font-bold {
    font-family: 'DMSans-Bold';

    &.italic {
      font-family: 'DMSans-BoldItalic';
    }
  }


  .page-content {
    height: 520px;
    overflow: auto;
    padding-bottom: 60px;
  }

  .page-content.page-content-scroll {
    height: 486px;
  }

  .text1 {
    background: linear-gradient(280.16deg, #F73B47 8.51%, #FF7E35 142.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .text2 {
    background: linear-gradient(270deg, #D640B8 0%, #FB6AAB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .text3 {
    background: linear-gradient(270deg, #01A4FF 0%, #436AFE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .text4 {
    background: linear-gradient(127.27deg, #3555FF 12.05%, #A157FF 85.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .text5 {
    background: linear-gradient(268.16deg, #FFD428 1.37%, #FD4702 194.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .bg1 {
    background: linear-gradient(280.16deg, #F73B47 8.51%, #FF7E35 142.08%);
  }

  .bg2 {
    background: linear-gradient(270deg, #D640B8 0%, #FB6AAB 100%);
  }

  .bg3 {
    background: linear-gradient(270deg, #01A4FF 0%, #436AFE 100%);
  }

  .bg4 {
    background: linear-gradient(127.27deg, #3555FF 12.05%, #A157FF 85.34%);
  }

  .bg5 {
    background: linear-gradient(268.16deg, #FFD428 1.37%, #FD4702 194.17%);
  }

  .inferer-score {
    font-size: 70px;
    font-weight: 700;
    line-height: 88px;
  }
}


.price-item {
  width: 320px;
  height: 103px;
  border-radius: 4px;
  background-image: url('./images/bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 29px;

  &:hover {
    background-image: url('./images/bg_active.png');

    .right-price,
    .text-right {
      opacity: 0;
    }
  }

  .num {
    background: linear-gradient(0deg, #F9F9F9, #F9F9F9), #FFFFFF;
    border-radius: 4px 0px;
    height: 21px;
    min-width: 46px;
    color: #7F8792;
    text-shadow: 1px 1px 0px #FFFFFF;
  }

  .num1 {
    background: linear-gradient(0deg, rgba(255, 199, 0, 0.1), rgba(255, 199, 0, 0.1)), #FFFFFF;
    color: #FFC700;
  }

  .num2 {
    background: linear-gradient(0deg, #EEEEEE, #EEEEEE), #FFFFFF;
    color: #212121;
  }

  .num3 {
    background: linear-gradient(0deg, rgba(249, 221, 193, 0.41), rgba(249, 221, 193, 0.41)), #FFFFFF;
    color: #CAA17C;
  }

  .price-item-content {
    padding-left: 8px;
    padding-right: 12px;
  }

  .img-wrap {
    width: 47px;
    height: 62px;

  }

  &.top-account-item {
    .img-wrap {
      position: relative;
      padding: 0;

      .img-bg {
        background-image: url('./images/avatar_bg.png');
        background-position: left top;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }

      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

.page-analysis {
  background-color: #F8F9FF;
  padding-bottom: 62px;

  .left-text {
    margin-top: 8px;
  }

  .bg-img {
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 79px;
      height: 105px;
    }

  }
}

.like-wrap {
  img {
    width: 14px;
    height: 14px;
    margin-right: 2px;
  }

  .text {
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    background: linear-gradient(124.16deg, #3555FF 8.05%, #A157FF 66.68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    &.up {
      background: linear-gradient(280.16deg, #F73B47 8.51%, #FF7E35 142.08%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }

    &.down {
      background: linear-gradient(124.16deg, #3F4664 8.05%, #3F4664 66.68%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }

  &.is-like {}
}

.div-line {
  width: 1px;
  height: 11px;
  background: linear-gradient(124.16deg, #3555FF 8.05%, #A157FF 66.68%);
  opacity: 0.3;
}

.text-wrap {
  .right-price {
    line-height: 110%;
    font-size: 22px;
  }
}

.star-list {
  img {
    width: 16px;
    height: 15px;
    margin-right: 3px;
  }
}

.icon-wrap {
  width: 16px;
  height: 16px;

  img {
    width: 16px;
    height: 16px;
  }
}

.icon-line {
  width: 1px;
  height: 16px;
  background: rgba(0, 0, 0, 0.1);
}

.volume-wrap {
  width: 154px;
  min-height: 119px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.avgprice-wrap {
  width: 100%;
  height: 119px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.tips-wrap {
  width: 136px;
  height: 46px;

  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  padding: 6px 8px;
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  color: #FFFFFF;
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  word-break: break-all;
  z-index: 10;
}

.color-b2 {
  color: #3F4664;
}

.box-wrap {
  background-color: #fff;
  background-image: url('./images/box_bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top;
  border-radius: 4px;
  padding: 12px 14px;
}

.score-bar {
  height: 4px;
  border-radius: 8px;

}

.holding-amount {
  color: #7F8792;
  font-size: 12px;

}

.holding-dot {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  margin-right: 3px;

  &._1 {
    background-color: #48AEF5;
  }

  &._23 {
    background-color: #FE7B77;
  }

  &._410 {
    background-color: #D080FF;
  }

  &._10 {
    background-color: #FFB859;
  }
}

.infer-label {
  padding: 2px 5px;
  background: linear-gradient(124.16deg, rgba(53, 85, 255, 0.1) 8.05%, rgba(161, 87, 255, 0.1) 66.68%);
  border-radius: 2px;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 8px;
  margin-right: 10px;
}

.history-list {
  font-size: 10px;

  .history-title {
    color: #AEB4BD;
    height: 21px;
    padding: 0 4px;
    background: rgba(198, 217, 255, 0.3)
  }

  .history-item {
    margin-right: 10px;
  }

  .item-time {
    width: 34px;
  }

  .item-from,
  .item-to {
    width: 80px;
  }

  .bg-1 {
    background-color: #F8F9FF;
  }

  .history-content {
    padding: 0 4px;
    height: 21px;
    color: #7F8792;
    font-size: 10px;
    cursor: pointer;

    &:hover {
      background-color: #D7E4FD;
    }
  }

}

.owner-wrap {
  .owner-img {
    // padding: 7px 5px;
    // background-image: url('./images/avatar_bg.png');
    background-position: left top;
    background-size: 100% 100%;
    width: 88px;
    height: 116px;
    position: relative;

    .img-bg {
      background-image: url('./images/avatar_bg.png');
      background-position: left top;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .img-left {
    width: 14px;
    height: 14px;
    margin-right: 6px;
  }

  .img-right {
    width: 10px;
    height: 10px;
    margin-left: 6px;
  }
}

.go-ana {
  width: 100%;
  height: 44px;
  background-image: url('./images/go.png');
  background-size: 321px 100%;
  background-position: -1px top;
  background-repeat: no-repeat;
  padding-right: 13px;
  color: #3F4664;
  margin-top: -3px;

  .img1 {
    display: block;
  }

  .img2 {
    display: none;
  }

  .font-bold {
    margin-left: 4px;
    margin-right: 4px;
  }

  img {
    width: 20px;
    height: 20px;
  }

  &:hover {
    background-image: url('./images/go_bg.png');

    .img2 {
      display: block;
    }

    .img1 {
      display: none;
    }

    .font-bold {
      background: linear-gradient(280.16deg, #F73B47 8.51%, #FF7E35 142.08%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}

.nftcoll-wrap {
  background-image: url('./images/item_bg1.png');

  &:hover {
    background-image: url('./images/item_bg.png');
  }

  .img-wrap {
    width: 47px;
    height: 62px;
    border-radius: 6px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.ranking-item {
  height: 64px;
  margin-bottom: 12px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top;

  .img-icon {
    width: 24px;
    height: 24px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
  }

  .item-tip {
    width: 50px;
    height: 14px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
  }

  &.item1 {
    background-image: url('./images/rankings/bg1.png');

    .item-tip {
      background-image: url('./images/rankings/tip1.png');
    }

    .img-icon {
      background-image: url('./images/rankings/icon1.png');
    }
  }

  &.item2 {
    background-image: url('./images/rankings/bg2.png');

    .item-tip {
      background-image: url('./images/rankings/tip2.png');
    }

    .img-icon {
      background-image: url('./images/rankings/icon2.png');
    }
  }

  &.item3 {
    background-image: url('./images/rankings/bg3.png');

    .item-tip {
      background-image: url('./images/rankings/tip3.png');
    }

    .img-icon {
      background-image: url('./images/rankings/icon3.png');
    }
  }

  &.item4 {
    background-image: url('./images/rankings/bg4.png');

    .item-tip {
      background-image: url('./images/rankings/tip4.png');
    }

    .img-icon {
      background-image: url('./images/rankings/icon4.png');
    }
  }

  &.item5 {
    background-image: url('./images/rankings/bg5.png');

    .item-tip {
      background-image: url('./images/rankings/tip5.png');
    }

    .img-icon {
      background-image: url('./images/rankings/icon5.png');
    }
  }

  &.item6 {
    background-image: url('./images/rankings/bg6.png');

    .item-tip {
      background-image: url('./images/rankings/tip6.png');
    }

    .img-icon {
      background-image: url('./images/rankings/icon6.png');
    }
  }

  &.item7 {
    background-image: url('./images/rankings/bg7.png');

    .item-tip {
      background-image: url('./images/rankings/tip7.png');
    }

    .img-icon {
      background-image: url('./images/rankings/icon7.png');
    }
  }

  &:hover {
    background-image: url('./images/rankings/hover_bg.png');
  }
}